<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="asm.net.mail" type="Asm.Configuration.MailTemplateSection, Asm, Version=1.0.0.0, Culture=neutral, PublicKeyToken=17abf68b566afc7b" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  
  <asm.net.mail defaultProvider="Default">
    <providers>
      <add name="Default" type="Asm.Net.Mail.SqlMailTemplateProvider, Asm, Version=1.0.0.0, Culture=neutral, PublicKeyToken=17abf68b566afc7b" />
    </providers>
  </asm.net.mail>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow></configuration>
