name: Build and Publish

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  NUGET_SOURCE: https://nuget.pkg.github.com/AndrewMcLachlan/index.json

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.0
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x

    - name: Set version number
      id: set-version-number
      uses: andrewmclachlan/actions/set-version-number@v4
      with:
        project: 'src/Asm'
        version-property-name: 'Version'

    - name: Restore
      run: dotnet restore Asm.slnx

    - name: Build
      run: dotnet build Asm.slnx --no-restore --configuration Release

    - name: Package
      run: dotnet pack Asm.slnx --no-restore --no-build -o ${{ github.workspace }}/publish --configuration Release --p:Version=${{ steps.set-version-number.outputs.version }} --p:FileVersion=${{ steps.set-version-number.outputs.version }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v5
      with:
        name: build-output
        path: |
          ${{ github.workspace }}/publish
          **/bin/Release/**
        retention-days: 1

    - name: Upload packages
      uses: actions/upload-artifact@v5
      with:
        name: packages
        path: ${{ github.workspace }}/publish/**/*.nupkg

  test:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        test-project:
          - { name: "Asm.Tests", path: "tests/Asm.Tests" }
          - { name: "Asm.AspNetCore.Tests", path: "tests/Asm.AspNetCore.Tests" }
          - { name: "Asm.Cqrs.Tests", path: "tests/Asm.Cqrs.Tests" }
          - { name: "Asm.Cqrs.AspNetCore.Tests", path: "tests/Asm.Cqrs.AspNetCore.Tests" }
          - { name: "Asm.Domain.Tests", path: "tests/Asm.Domain.Tests" }
          - { name: "Asm.Domain.Infrastructure.Tests", path: "tests/Asm.Domain.Infrastructure.Tests" }
          - { name: "Asm.Net.Tests", path: "tests/Asm.Net.Tests" }
          - { name: "Asm.Win32.Tests", path: "tests/Asm.Win32.Tests" }
    steps:
    - uses: actions/checkout@v6.0.0
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x

    - name: Download build artifacts
      uses: actions/download-artifact@v6
      with:
        name: build-output

    - name: Restore
      run: dotnet restore Asm.slnx

    - name: Test ${{ matrix.test-project.name }}
      run: dotnet test ${{ matrix.test-project.path }}/${{ matrix.test-project.name }}.csproj --no-restore --no-build --filter '(Category=Unit|Category=Integration)&FullyQualifiedName!~Testing' --verbosity normal --collect:"XPlat Code Coverage" --results-directory:./testresults/${{ matrix.test-project.name }} --configuration Release --settings coverlet.runsettings

    - name: Upload coverage for ${{ matrix.test-project.name }}
      uses: actions/upload-artifact@v5
      with:
        name: coverage-${{ matrix.test-project.name }}
        path: testresults/${{ matrix.test-project.name }}/**/coverage.cobertura.xml

  coverage-report:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@v6.0.0
    
    - name: Download all coverage reports
      uses: actions/download-artifact@v6
      with:
        pattern: coverage-*
        path: ./all-coverage
        merge-multiple: true

    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
      with:
        reports: './all-coverage/**/coverage.cobertura.xml'
        targetdir: './coverage-report'
        reporttypes: 'MarkdownAssembliesSummary;Cobertura;Badges'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')
      with:
        recreate: true
        path: coverage-report/Summary.md

    - name: Write Coverage to Job Summary
      run: cat coverage-report/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

  publish:
    runs-on: ubuntu-latest
    needs: [build, test]
    permissions:
      packages: write
      contents: read
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
    steps:
    - name: Download packages
      uses: actions/download-artifact@v6
      with:
        name: packages
        path: ./packages

    - name: Publish Packages
      run: dotnet nuget push ./packages/**/*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source ${{ env.NUGET_SOURCE }} --skip-duplicate
